body {
  background-color: lightblue;
  /* display: flex;  */
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Oxygen Mono", monospace;
}

.display-grid {
  background-color: #1b262c;
  max-width: 480px;
  margin: 20vh auto;
}

#screen-text {
  color: white;
  text-align: right;
  font-size: 45px;
  padding: 30px;
  margin: 0;
}

.main-grid {
  display: grid;
  margin: 0 auto;
  max-width: 480px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.grid-num {
  background-color: #ebecf1;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-ac {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #ebecf1;
}

.grid-equal-button {
  background-color: #32e0c4;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  grid-row: span 3;
}

.grid-c {
  background-color: #32e0c4;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.grid-operator {
  background-color: #393e46;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}
