body {
  background-color: lightblue;
}

.display-grid {
  background-color: #1b262c;
  width: 480px;
  height: 100px;
  margin: 0 auto;
}
.main-grid {
  display: grid;
  margin: auto;
  max-width: 480px;
  height: 110px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.grid-num {
  background-color: #ebecf1;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Oxygen Mono", monospace;
}

.grid-ac {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  background-color: #ebecf1;
  font-family: "Oxygen Mono", monospace;
}

.grid-equal-button {
  background-color: #32e0c4;
  padding: 50px;
  font-size: 30px;
  text-align: center;
  grid-row: span 3;
  font-family: "Oxygen Mono", monospace;
  vertical-align: middle;
}

.grid-c {
  background-color: #32e0c4;
  font-family: "Oxygen Mono", monospace;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
#screen-text {
  color: white;
  text-align: right;
  font-size: 45px;
  padding: 30px;
}
.grid-plus {
  background-color: #393e46;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Oxygen Mono", monospace;
  color: white;
}
.grid-times {
  background-color: #393e46;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Oxygen Mono", monospace;
  color: white;
}
.grid-sub {
  background-color: #393e46;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Oxygen Mono", monospace;
  color: white;
}
.grid-divide {
  background-color: #393e46;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: "Oxygen Mono", monospace;
  color: white;
}
